<!doctype html>
<html>

<head>
	<% include ../../partials/common-head %>
</head>

<body>

	<!--Panel Izquierdo -->
	<% include ../../partials/sidebar %>
	<!-- /Panel izquierdo-->

	<!-- Panel Derecho -->
	<div id="right-panel" class="right-panel">

		<!-- Cabecera-->
		<% include ../../partials/cabecera %>
		<!-- /Cabecera -->

		<!-- Tabla del CRUD-->
		<div class="content mt-3">

			<!-- Mensaje -->
			<% include ../../partials/mensaje %>
			<!-- /Mensaje -->

			<div class="col-sm-12">
				<div class="animated fadeIn">
					<div class="row">
						<!-- Cultivo -->
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="d-flex justify-content-between">
										<div class="d-flex justify-content-start">
											<strong class="card-title align-middle">Cultivos</strong>
											<div id="titulo" data-value="Cultivos"></div>
										</div>
										<div id="tableButtons" class="d-none d-md-block">
											<a id="agregar" href="#agregarModal" class="btn btn-primary"
												data-toggle="modal">
												<i class="fa fa-plus-circle"></i> Agregar
											</a>
										</div>
										<div id="tableButtons" class="d-md-none">
											<a id="agregar" href="#agregarModal" class="text-white"
												data-toggle="modal">
												<i class="fa fa-plus-circle"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id="tabla-cultivos" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>Nombre</th>
													<th>Sup. Asignada</th>
													<th class="d-none">Rendimiento</th>
                                                    <th class="d-none">Precio Pizzarra</th>
                                                    <th class="d-none">Gasto Comer. (%)</th>
													<th>Venta (%)</th>
													<th>Almacenamiento (%)</th>
													<th>Doble Prop. (%)</th>
													<th class="not-export-col">Acciones</th>
												</tr>
											</thead>
											<tbody>
												<% cultivos.forEach(cultivo => { %>
												<tr data="<%= JSON.stringify(cultivo) %>">
													<td>
														<%= cultivo.nombre %>
													</td>
													<td>
														<%= cultivo.superficieAsignada %>
													</td>
													<td class="d-none">
														<%= cultivo.rendimiento %>
													</td>
													<td class="d-none">
														<%= cultivo.precioPizarra %>
													</td>
													<td class="d-none">
														<%= cultivo.porcGastosComer %>
													</td>
													<td>
														<%= cultivo.porcVenta %>
													</td>
													<td>
														<%= cultivo.porcAlmacenamiento %>
													</td>
													
													<td>
														<%= cultivo.porcDobleProposito %>
													</td>
													
													<td>
														<a id="ver" href="#verModal" class="view mr-2" title="Ver"
															data-toggle="modal">
															<i class="fa fa-eye fa-lg"></i>
														</a>
														<a id="editar" href="#editarModal" class="edit mr-2"
															data-toggle="modal">
															<i class="fa fa-edit fa-lg" title="Editar"></i>
														</a>
														<a id="eliminar" href="#eliminarModal"
															class="delete mr-2" data-toggle="modal">
															<i class="fa fa-trash fa-lg" title="Eliminar"></i>
														</a>
													</td>
												</tr>
												<% }) %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Tabla del CRUD-->
	</div>
	<!-- /Panel Derecho -->


	<!-- PopUps -->
	<% include cultivo-add %>
	<% include cultivo-edit %>
	<% include cultivo-delete %>

	<!-- Scripts -->
	<% include ../../partials/common-scripts %>

	<script type="text/javascript">
		InitDataTable("#tabla-cultivos");
	</script>

	<script src="/scripts/public-cultivos.js"></script>
</body>

</html>