<div style="position: relative; width:794px; height:133px">
    <div   style="position: absolute; background-color: rgb(255, 255, 255); border: 1px solid rgb(0, 0, 0); border-radius: 10px; height: 90px; width: 760px; top: 34px; left: 7px;" >
    
    
    
    
    </div><div   style="position: absolute; top: 46px; left: 163px; height: auto; width: 500px; z-index: 1; font-family: sans-serif; font-size: 30px; font-weight: bold; text-decoration: underline; text-align: center;" ><%= titulo %></div><div   style="position: absolute; height: 60px; width: 170px; top: 38px; left: 18px;" >
     <img src="file:///<%= _pathBaseImages %>/images/UTN_FRRE.png" style="min-width:100%;min-height:100%;max-width:100%;max-height:100%;">
    
    
    
    
    </div><div   style="position: absolute; top: 91px; left: 658px; height: auto; width: auto; z-index: 1; font-family: sans-serif; font-size: 12px;" ><%= fecha %></div><div   style="position: absolute; top: 108px; left: 665px; height: auto; width: auto; z-index: 1; font-family: sans-serif; font-size: 12px;" ><%= hora %></div><div   style="position: absolute; height: 58px; width: 66px; top: 37px; left: 678px;" >
     <img src="file:///<%= _pathBaseImages %>/images/logo.png" style="min-width:100%;min-height:100%;max-width:100%;max-height:100%;">
    
    
    
    
    </div><div   style="position: absolute; top: 102px; left: 23px; right: auto; bottom: auto; height: auto; width: auto; z-index: 1; font-size: 14px; font-family: sans-serif; font-weight: bold;" ><%= empresa.nombre %></div><div   style="position: absolute; top: 87px; left: 162px; right: auto; bottom: auto; height: auto; width: 500px; z-index: 1; font-size: 20px; font-family: sans-serif; text-align: center; font-weight: bold; text-decoration: underline;" ><%= sup %></div></div>