<!doctype html>
<html>

<head>
    <% include ../../partials/common-head %>
</head>

<body>

    <!--Panel Izquierdo -->
    <% include ../../partials/sidebar %>
    <!-- /Panel izquierdo-->

    <!-- Panel Derecho -->
    <div id="right-panel" class="right-panel">

        <!-- Cabecera-->
        <% include ../../partials/cabecera %>
        <!-- /Cabecera -->

        <!-- Tabla del CRUD-->
        <div class="content mt-3">

            <!-- Mensaje -->
            <% include ../../partials/mensaje %>
            <!-- /Mensaje -->

            <div class="col-sm-12">
                <div class="animated fadeIn">
                    <div class="row">
                          <!-- Cultivo -->
                          <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex justify-content-start">
                                            <strong class="card-title align-middle">Cultivo</strong>
                                        </div>
                                        <div id="tableButtons" class="d-none d-md-block">
											<a id="agregar" href="#cultivoAddModal" class="btn btn-primary"
												data-toggle="modal">
												<i class="fa fa-plus-circle"></i> Agregar
											</a>
										</div>
										<div id="tableButtons" class="d-md-none">
											<a id="agregar" href="#cultivoAddModal" class="text-white" data-toggle="modal">
												<i class="fa fa-plus-circle"></i>
											</a>
										</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
										<table id="tabla-cultivos" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th class="col-md-10">Nombre</th>
													<th class="not-export-col col-md-2">Acciones</th>
												</tr>
											</thead>
											<tbody>
												<% cultivos.forEach(cultivo => { %>
												<tr data="<%= JSON.stringify(cultivo) %>">
													<td>
														<%= cultivo.nombre %>
													</td>
													
													<td>
														<a id="editar" href="#editarCultivoModal" class="edit mr-2"
															data-toggle="modal">
															<i class="fa fa-edit fa-lg" title="Editar"></i>
														</a>
														<a id="eliminar" href="#eliminarCultivoModal" class="delete mr-2"
															data-toggle="modal">
															<i class="fa fa-trash fa-lg" title="Eliminar"></i>
														</a>
													</td>
												</tr>
												<% }) %>
											</tbody>
										</table>
									</div>
                                </div>
                            </div>
                        </div>
                        <!-- /Cultivo -->
                          <!-- Rubro -->
                          <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex justify-content-start">
                                            <strong class="card-title align-middle">Rubro</strong>
                                        </div>
                                        <div id="tableButtons" class="d-none d-md-block">
											<a id="agregar" href="#rubroAddModal" class="btn btn-primary"
												data-toggle="modal">
												<i class="fa fa-plus-circle"></i> Agregar
											</a>
										</div>
										<div id="tableButtons" class="d-md-none">
											<a id="agregar" href="#rubroAddModal" class="text-white" data-toggle="modal">
												<i class="fa fa-plus-circle"></i>
											</a>
										</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
										<table id="tabla-rubros" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th class="col-md-10">Nombre</th>
													<th class="not-export-col col-md-2">Acciones</th>
												</tr>
											</thead>
											<tbody>
												<% rubros.forEach(rubro => { %>
												<tr data="<%= JSON.stringify(rubro) %>">
													<td>
														<%= rubro.nombre %>
													</td>
													
													<td>
														<a id="editar" href="#editarRubroModal" class="edit mr-2"
															data-toggle="modal">
															<i class="fa fa-edit fa-lg" title="Editar"></i>
														</a>
														<a id="eliminar" href="#eliminarRubroModal" class="delete mr-2"
															data-toggle="modal">
															<i class="fa fa-trash fa-lg" title="Eliminar"></i>
														</a>
													</td>
												</tr>
												<% }) %>
											</tbody>
										</table>
									</div>
                                </div>
                            </div>
                        </div>
                        <!-- /Rubro -->
                       
                         <!-- Concepto -->
                         <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex justify-content-start">
                                            <strong class="card-title align-middle">Concepto</strong>
                                        </div>
                                        <div id="tableButtons" class="d-none d-md-block">
											<a id="agregar" href="#conceptoAddModal" class="btn btn-primary"
												data-toggle="modal">
												<i class="fa fa-plus-circle"></i> Agregar
											</a>
										</div>
										<div id="tableButtons" class="d-md-none">
											<a id="agregar" href="#conceptoAddModal" class="text-white" data-toggle="modal">
												<i class="fa fa-plus-circle"></i>
											</a>
										</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
										<table id="tabla-conceptos" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th class="col-md-10">Nombre</th>
													<th class="not-export-col col-md-2">Acciones</th>
												</tr>
											</thead>
											<tbody>
												<% conceptos.forEach(concepto => { %>
												<tr data="<%= JSON.stringify(concepto) %>">
													<td>
														<%= concepto.nombre %>
													</td>
													
													<td>
														<a id="editar" href="#editarConceptoModal" class="edit mr-2"
															data-toggle="modal">
															<i class="fa fa-edit fa-lg" title="Editar"></i>
														</a>
														<a id="eliminar" href="#eliminarConceptoModal" class="delete mr-2"
															data-toggle="modal">
															<i class="fa fa-trash fa-lg" title="Eliminar"></i>
														</a>
													</td>
												</tr>
												<% }) %>
											</tbody>
										</table>
									</div>
                                </div>
                            </div>
                        </div>
                        <!-- /Concepto-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /Tabla del CRUD-->
    </div>
    <!-- /Panel Derecho -->


    <!-- PopUps -->
   <% include cultivo-add %>
   <% include cultivo-edit %>
   <% include cultivo-delete %>
   <% include rubro-add %>
   <% include rubro-edit %>
   <% include rubro-delete %>
   <% include concepto-add %>
   <% include concepto-edit %>
   <% include concepto-delete %>

    <!-- Scripts -->
    <% include ../../partials/common-scripts %>
    
    <script src="/scripts/public-agriculturaDatosBase.js"></script>
</body>

</html>