<!doctype html>
<html>

<head>
	<% include ../../partials/common-head %>
</head>

<body>

	<!--Panel Izquierdo -->
	<% include ../../partials/sidebar %>
	<!-- /Panel izquierdo-->

	<!-- Panel Derecho -->
	<div id="right-panel" class="right-panel">

		<!-- Cabecera-->
		<% include ../../partials/cabecera %>
		<!-- /Cabecera -->

		<!-- Tabla del CRUD-->
		<div class="content mt-3">

			<!-- Mensaje -->
			<% include ../../partials/mensaje %>
			<!-- /Mensaje -->

			<div class="col-sm-12">
				<div class="animated fadeIn">
					<div class="row">
						<!-- Rubro -->
						<div class="col-md-5">
							<div class="card">
								<div class="card-header">
									<div class="d-flex justify-content-between">
										<div class="d-flex justify-content-start">
											<strong class="card-title align-middle">Rubros</strong>
											<!-- <div id="titulo" data-value="Rubros"></div> -->
										</div>
										<div id="tableButtons" class="d-none d-md-block">
											<a id="agregar" href="#rubroAddModal" class="btn btn-primary"
												data-toggle="modal">
												<i class="fa fa-plus-circle"></i> Agregar
											</a>
										</div>
										<div id="tableButtons" class="d-md-none">
											<a id="agregar" href="#rubroAddModal" class="text-white"
												data-toggle="modal">
												<i class="fa fa-plus-circle"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id="tabla-rubros" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th class="col-md-10">Nombre</th>
													<th class="not-export-col col-md-2">Acciones</th>
												</tr>
											</thead>
											<tbody>
												<% rubros.forEach(rubro => { %>
												<tr data="<%= JSON.stringify(rubro) %>">
													<td>
														<%= rubro.nombre %>
													</td>

													<td>
														<a id="editar" href="#editarRubroModal" class="edit mr-2"
															data-toggle="modal">
															<i class="fa fa-edit fa-lg" title="Editar"></i>
														</a>
														<a id="eliminar" href="#eliminarRubroModal" class="delete mr-2"
															data-toggle="modal">
															<i class="fa fa-trash fa-lg" title="Eliminar"></i>
														</a>
													</td>
												</tr>
												<% }) %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- /Rubro -->

						<!-- Concepto -->
						<div class="col-md-7">
							<div class="card">
								<div class="card-header">
									<div class="d-flex justify-content-between">
										<div class="d-flex justify-content-start">
											<strong class="card-title align-middle">Conceptos</strong>
											<!-- <div id="titulo" data-value="Conceptos"></div> -->
										</div>
										<div id="tableButtons" class="d-none d-md-block">
											<a id="agregar" href="#conceptoAddModal" class="btn btn-primary"
												data-toggle="modal">
												<i class="fa fa-plus-circle"></i> Agregar
											</a>
										</div>
										<div id="tableButtons" class="d-md-none">
											<a id="agregar" href="#conceptoAddModal" class="text-white"
												data-toggle="modal">
												<i class="fa fa-plus-circle"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id="tabla-conceptos" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>Nombre</th>
													<th >Unidad</th>
													<th style="width: 30%;">Precio</th>
													<th class="not-export-col" style="width: 30%;">Acciones</th>
												</tr>
											</thead>
											<tbody>
												<% conceptos.forEach(concepto => { %>
												<tr data="<%= JSON.stringify(concepto) %>">
													<td>
														<%= concepto.nombre %>
													</td>
													<td style="text-align:end;">
														<%= concepto.unidad %>
													</td>
													<td class="importe" style="text-align:end;">
														
														<%= concepto.precio.toFixed(2) %>
														
													</td>
													<td>
														<a id="view" href="#viewConceptoModal" class="view mr-2" title="View"
															data-toggle="modal">
															<i class="fa fa-eye fa-lg"></i>
														</a>

														<a id="editar" href="#editarConceptoModal" class="edit mr-2"
															data-toggle="modal">
															<i class="fa fa-edit fa-lg" title="Editar"></i>
														</a>
														<a id="eliminar" href="#eliminarConceptoModal"
															class="delete mr-2" data-toggle="modal">
															<i class="fa fa-trash fa-lg" title="Eliminar"></i>
														</a>
													</td>
												</tr>
												<% }) %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!-- /Concepto-->
					</div>
				</div>
			</div>
		</div>
		<!-- /Tabla del CRUD-->
	</div>
	<!-- /Panel Derecho -->


	<!-- PopUps -->
	<% include rubro-add %>
	<% include rubro-edit %>
	<% include rubro-delete %>
	<% include concepto-add %>
	<% include concepto-view %>
	<% include concepto-edit %>
	<% include concepto-delete %>

	<!-- Scripts -->
	<% include ../../partials/common-scripts %>

	<script type="text/javascript">
		InitDataTable("#tabla-conceptos");	
	</script>
	<script type="text/javascript">
		InitDataTable("#tabla-rubros");
	</script>

	<script src="/scripts/public-agriculturaDatosBase.js"></script>
</body>

</html>