<!doctype html>
<html>

<head>
	<% include ../../partials/common-head %>
</head>

<body>

	<!--Panel Izquierdo -->
	<% include ../../partials/sidebar %>
	<!-- /Panel izquierdo-->

	<!-- Panel Derecho -->
	<div id="right-panel" class="right-panel">

		<!-- Cabecera-->
		<% include ../../partials/cabecera %>
		<!-- /Cabecera -->

		<!-- Tabla del CRUD-->
		<div class="content mt-3">

			<!-- Mensaje -->
			<% include ../../partials/mensaje %>
			<!-- /Mensaje -->

			<div class="col-sm-12">
				<div class="animated fadeIn">
					<div class="row">
						<div class="col-md-12">
							<!-- Cuerpo -->
							<div class="card">
								<div class="card-header">
									<div class="d-flex justify-content-between">
										<div class="d-flex justify-content-start">
											<strong class="card-title align-middle">Praderas. Valor
													Total al Cierre $<%= valorTotal.toFixed(2) %></strong>
											<div id="titulo" data-value="Tabla de Praderas"></div>
										</div>
										<div id="tableButtons" class="d-none d-md-block">
											<a id="agregar" href="#agregarModal" class="btn btn-primary"
												data-toggle="modal">
												<i class="fa fa-plus-circle"></i> Agregar
											</a>
										</div>
										<div id="tableButtons" class="d-md-none">
											<a id="agregar" href="#agregarModal" class="text-white" data-toggle="modal">
												<i class="fa fa-plus-circle"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id="tabla" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>Cultivo</th>
													<th>Fecha Implantación</th>
													<th>Hectareas</th>
													<th>Valor Unitario ($)</th>
													<th class="d-none">Fecha Cierre</th>
													<th class="d-none">Valor de Mercado ($)</th>
													<th class="d-none">Vida Útil</th>
													<th class="d-none">Antigüedad</th>
													<th class="d-none">Amortización ($)</th>
													<th class="d-none">Amortización Acumulada ($)</th>
													<th class="d-none">Valor Residual ($)</th>
													<th class="">Valor a Nuevo ($)</th>
													<th>Estado</th>
													<th class="not-export-col">Acciones</th>
												</tr>
											</thead>
											<tbody>
													<% praderas.forEach(pradera => { %>
														<tr data="<%= JSON.stringify(pradera) %>">
															<td>
																<%= pradera.cultivo %>
															</td>
															<td>
																<%= pradera.fechaImplantacion %>
															</td>
															<td>
																<%= pradera.hectareas.toFixed(2) %>
															</td>
															<td>
																<%= pradera.valorHectarea.toFixed(2) %>
															</td>
															<td class="d-none">
																<%= empresa.finEjercicio %>
															</td>
															<td class="d-none">
																<%= pradera.dataValues.valorMercado.toFixed(2) %>
															</td>
															<td class="d-none">
																<%= pradera.vidaUtil %>
															</td>
															<td class="d-none">
																<%= pradera.dataValues.antiguedad %>
															</td>
															<td class="d-none">
																<%= pradera.dataValues.amortizacion.toFixed(2) %>
															</td>
															<td class="d-none">
																<%= pradera.dataValues.amortizacionAcumulada.toFixed(2) %>
															</td>
															<td class="d-none">
																<%= pradera.dataValues.valorResidualMonto.toFixed(2) %>
															</td>
															<td class="">
																<%= pradera.dataValues.valorANuevo.toFixed(2) %>
															</td>
															<td>
																<%= pradera.estado %>
															</td>
															<td>
																<a id="ver" href="#verModal" class="view mr-2" title="Ver"
																	data-toggle="modal">
																	<i class="fa fa-eye fa-lg"></i>
																</a>
																<a id="editar" href="#editarModal" class="edit mr-2"
																	data-toggle="modal">
																	<i class="fa fa-edit fa-lg" title="Editar"></i>
																</a>
																<a id="eliminar" href="#eliminarModal" class="delete mr-2"
																	data-toggle="modal">
																	<i class="fa fa-trash fa-lg" title="Eliminar"></i>
																</a>
															</td>
														</tr>
														<% }) %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- /Cuerpo -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Tabla del CRUD-->
	</div>
	<!-- /Panel Derecho -->

	<!-- Formulario de los Popups  -->
	<% include pradera-add %>
	<% include pradera-view %>
	<% include pradera-edit %>
	<% include pradera-delete %>
	<!-- /Formulario de los Popups  -->

	<!-- Scripts -->
	<% include ../../partials/common-scripts %>
	<script type="text/javascript">
		InitDataTable("#tabla");
	</script>
	<script src="/scripts/public-praderas.js"></script>
</body>

</html>