<!doctype html>
<html>

<head>
	<% include ../../partials/common-head %>
</head>

<body>

	<!--Panel Izquierdo -->
	<% include ../../partials/sidebar %>
	<!-- /Panel izquierdo-->

	<!-- Panel Derecho -->
	<div id="right-panel" class="right-panel">

		<!-- Cabecera-->
		<% include ../../partials/cabecera %>
		<!-- /Cabecera -->

		<!-- Tabla del CRUD-->
		<div class="content mt-3">

			<!-- Mensaje -->
			<% include ../../partials/mensaje %>
			<!-- /Mensaje -->

			<div class="col-sm-12">
				<div class="animated fadeIn">
					<div class="row">
						<div class="col-md-12">
							<!-- Cuerpo -->
							<div class="card">
								<div class="card-header">
									<div class="d-flex justify-content-between">
										<div class="d-flex justify-content-start">
											<strong class="card-title align-middle">Stock de Productos. Valor
													Total al Cierre $<%= valorTotal.toFixed(2) %></strong>
											<div id="titulo" data-value="Tabla de Stock"></div>
										</div>
										<div id="tableButtons" class="d-none d-md-block">
											<a id="agregar" href="#agregarModal" class="btn btn-primary"
												data-toggle="modal">
												<i class="fa fa-plus-circle"></i> Agregar
											</a>
										</div>
										<div id="tableButtons" class="d-md-none">
											<a id="agregar" href="#agregarModal" class="text-white" data-toggle="modal">
												<i class="fa fa-plus-circle"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table id="tabla" class="table table-striped table-bordered">
											<thead>
												<tr>
													<th>Producto</th>
													<th>Detalle</th>
													<th>Unidad</th>
													<th>Cantidad</th>
													<th>Valor Unitario ($)</th>
													<th>Valor de Mercado ($)</th>
													<th class="not-export-col">Acciones</th>
												</tr>
											</thead>
											<tbody>
													<% stocks.forEach(stock => { %>
														<tr data="<%= JSON.stringify(stock) %>">
															<td>
																<%= stock.producto %>
															</td>
															<td>
																<%= stock.detalle %>
															</td>
															<td>
																<%= stock.unidad %>
															</td>
															<td>
																<%= stock.cantidad %>
															</td>
															<td>
																<%= stock.valorUnitario.toFixed(2) %>
															</td>
															<td>
																<%= stock.dataValues.valorMercado %>
															</td>
															<td>
																<a id="ver" href="#verModal" class="view mr-2" title="Ver"
																	data-toggle="modal">
																	<i class="fa fa-eye fa-lg"></i>
																</a>
																<a id="editar" href="#editarModal" class="edit mr-2"
																	data-toggle="modal">
																	<i class="fa fa-edit fa-lg" title="Editar"></i>
																</a>
																<a id="eliminar" href="#eliminarModal" class="delete mr-2"
																	data-toggle="modal">
																	<i class="fa fa-trash fa-lg" title="Eliminar"></i>
																</a>
															</td>
														</tr>
														<% }) %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- /Cuerpo -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Tabla del CRUD-->
	</div>
	<!-- /Panel Derecho -->

	<!-- Formulario de los Popups  -->
	<% include stock-add %>
	<% include stock-view %>
	<% include stock-edit %>
	<% include stock-delete %>
	<!-- /Formulario de los Popups  -->

	<!-- Scripts -->
	<% include ../../partials/common-scripts %>
	<script type="text/javascript">
		InitDataTable("#tabla");
	</script>
	<script src="/scripts/public-stocks.js"></script>
</body>

</html>