<!doctype html>
<html>

<head>
    <% include ../../partials/common-head %>
</head>

<body>

    <!--Panel Izquierdo -->
    <% include ../../partials/sidebar %>
    <!-- /Panel izquierdo-->

    <!-- Panel Derecho -->
    <div id="right-panel" class="right-panel">

        <!-- Cabecera-->
        <% include ../../partials/cabecera %>
        <!-- /Cabecera -->

        <!-- Tabla del CRUD-->
        <div class="content mt-3">

            <!-- Mensaje -->
            <% include ../../partials/mensaje %>
            <!-- /Mensaje -->

            <div class="col-sm-12">
                <div class="animated fadeIn">
                    <div class="card">
                        <div class="card-body m-3">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex justify-content-start">
                                    <input type="date" id="situacionPatrimonialFecha" class="form-control" min="<%= empresa.inicioEjercicio %>" max="<%= empresa.finEjercicio %>" onchange="updateESP(this.value)">
                                </div>
                                <div id="tableButtons" class="d-none d-md-block">
                                    <input type="button" class="btn btn-secondary"
                                        value="Imprimir Estado de Situación Patrimonial">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <!-- Activos -->
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-center">
                                        <strong class="card-title align-middle">ACTIVO</strong>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <h4 class="col-md-12"><b>Activos Corrientes</b></h4>
                                    </div>
                                    <div class="form-row">
                                        <p class="col-md-8 mt-1"><b>Disponibilidades</b></p>
                                        <p class="col-md-4 mt-1 text-right"><b>$ <%= parseFloat(caja.saldo) + parseFloat(banco.saldo) + parseFloat(inversion.saldo) %></b></p>
                                    </div>
                                    <div class="form-row">
                                        <p class="col-md-7" style="margin-top: -15px">Caja</p>
                                        <p class="col-md-4 text-right" style="margin-top: -15px">$ <%= caja.saldo %></p>
                                    </div>
                                    <div class="form-row">
                                        <p class="col-md-7" style="margin-top: -15px">Banco</p>
                                        <p class="col-md-4 text-right" style="margin-top: -15px">$ <%= banco.saldo %></p>
                                    </div>
                                    <div class="form-row">
                                        <p class="col-md-7" style="margin-top: -15px">Inversiones Transitorias</p>
                                        <p class="col-md-4 text-right" style="margin-top: -15px">$ <%= inversion.saldo %></p>
                                    </div>

                                    <div class="form-row">
                                        <p class="col-md-10"><b>Créditos</b></p>
                                        <p class="col-md-2 text-right"><b>$ 100000</b></p>
                                    </div>
                                    <div class="form-row">
                                        <p class="col-md-7" style="margin-top: -15px">Cliente 1</p>
                                        <p class="col-md-4 text-right" style="margin-top: -15px">$ 25000</p>
                                    </div>
                                    <div class="form-row">
                                        <p class="col-md-7" style="margin-top: -15px">Cliente 2</p>
                                        <p class="col-md-4 text-right" style="margin-top: -15px">$ 25000</p>
                                    </div>
                                    <div class="form-row">
                                        <p class="col-md-7" style="margin-top: -15px">Cliente 3</p>
                                        <p class="col-md-4 text-right" style="margin-top: -15px">$ 50000</p>
                                    </div>

                                    <div class="form-row"></div>
                                    <div class="form-row"></div>


                                    <p class="col-md-12"><b>Retiro Socios</b></p>
                                    <p class="col-md-12" style="margin-top: -15px">Socio 1</p>
                                    <p class="col-md-12" style="margin-top: -15px">Socio 2</p>
                                    <p class="col-md-12" style="margin-top: -15px">Socio 3</p>

                                    <p class="col-md-12"><b>Insumos Agricolas-Ganaderos</b></p>
                                    <p class="col-md-12"><b>Praderas</b></p>
                                    <p class="col-md-12"><b>Stoc-Productos</b></p>
                                    <p class="col-md-12"><b>Hacienda - Bienes de Cambios</b></p>

                                    <h4 class="col-md-12"><b>Total Activos Corrientes</b></h4>

                                    <h4 class="col-md-12 mt-2"><b>Activos No Corrientes</b></h4>
                                    <h4 class="col-md-12"><b>Total Activos No Corrientes</b></h4>
                                </div>
                            </div>
                        </div>
                        <!-- /Activos -->

                        <div class="col-md-6">
                            <!-- Pasivos -->
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-center">
                                        <strong class="card-title align-middle">PASIVO</strong>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <h4 class="col-md-12"><b>Pasivos Corrientes</b></h4>
                                    </div>
                                    <div class="form-row">
                                        <p class="col-md-10 mt-1"><b>Deudas Comerciales</b></p>
                                        <p class="col-md-2 mt-1 text-right"><b>$ 50000</b></p>
                                    </div>
                                    <div class="form-row">
                                        <p class="col-md-7" style="margin-top: -15px">Proveedor 1</p>
                                        <p class="col-md-5 text-right" style="margin-top: -15px">$ 30000</p>
                                    </div>
                                    <div class="form-row">
                                        <p class="col-md-7" style="margin-top: -15px">Proveedor 2</p>
                                        <p class="col-md-5 text-right" style="margin-top: -15px">$ 20000</p>
                                    </div>

                                    <div class="form-row">
                                        <h4 class="col-md-10"><b>Total Pasivos Corrientes</b></h4>
                                        <h4 class="col-md-2 text-right"><b>$ 50000</b></h4>
                                    </div>


                                </div>
                            </div>
                            <!-- /Pasivos -->
                            <!-- Pasivos -->
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-center">
                                        <strong class="card-title align-middle">PATRIMONIO NETO</strong>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-10"><b>Total Patrimonio Neto</b></div>
                                        <div class="col-md-2 text-right"><b>$ 5000</b></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Pasivos -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Tabla del CRUD-->
    </div>
    <!-- /Panel Derecho -->


    <!-- Scripts -->
    <% include ../../partials/common-scripts %>

</body>

<script>
document.addEventListener('DOMContentLoaded', function(){
    let url = document.URL.split('/')
    document.querySelector("#situacionPatrimonialFecha").value = url[url.length -1]
})  

function updateESP(fecha){
    window.location.replace('/contable/situacionPatrimonial/'+fecha)
}
</script>

</html>